body{
    width: 100%;
    font-family: sans-serif;
    margin: 0;
}
.nav{
    margin: 0;
    display: block;
    width: 100%;
    background-color: cyan;
}
h1{
    margin-top: 0;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-weight: bolder;
}
a:hover{
    background-color: rgb(192, 181, 181);
}
.body{
    width: 100%;
    margin: 0;
    display: flex;
}
.about_us{
    width: 50%;
    height: auto;
    background-color: blue;
    min-height: 500px;
}
.info{
    width: 50%;
    height: auto;
    background: red;
    min-height: 500px;
}